# Miscellaneous
*.class
*.log
*.pyc
*.swp
.buildlog/
.history

# Flutter/Dart/Pub
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
**/generated_plugin_registrant.dart
.packages
.packages.generated
.pub-preload-cache/
.pub/
build/
flutter_*.png

# Android
**/android/**/gradle-wrapper.jar
.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks

# Signing
.signing/
.key-generate.conf

# Coverage
coverage/

# Symbols
app.*.symbols

#Kotlin
.kotlin

# Slang generated analysis
lib/i18n/_missing_translations.json
lib/i18n/_unused_translations.json
