{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 999,
        "proseWrap": "preserve",
        "singleQuote": false
      }
    },
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "printWidth": 120
      }
    }
  ]
}
